.rightBar {
  flex: 4;
  position: sticky;
  /* overflow-y: scroll; */
  overflow-y: scroll;
  top: 0px;
  height:100vh;
  /* background-color: rgb(42, 167, 58); */
}

.rightBarWrapper {
  padding: 20px 20px 0 0;
  margin-left: 40px;
}
.birthdayImage {
  height: 40px;
  width: 40px;
}
.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayText {
  margin-left: 10px;
}
.adImage {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}
.friendImageRightbar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.friendImageContainer {
  display: flex;
  align-items: center;
  /* position: relative; */
  justify-content: space-between;
}

.friendlist {
  list-style: none;
  padding: 10px;
}

.imageContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.onlineFriendTitle {
  margin-top: 10px;
}
.rightBarFriendName {
  margin: 10px;
}
.onlineIcon {
  width: 10px;
  height: 10px;
  background: limegreen;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  /* margin-top: 100px; */
  top: 3px;
  border: 1px solid white;
}
.offlineIcon {
  width: 10px;
  height: 10px;
  background: rgb(140, 140, 140);
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  /* margin-top: 100px; */
  top: 3px;
  border: 1px solid white;
}
.activestatus {
  color: rgb(165, 162, 162);
}
